/* ==========================================================================
  Public Layout
========================================================================== */

.public-layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* Main Content */
.public-main {
  flex: 1;
  padding: var(--spacing-8) 0;
  align-content: center;
}
